{% extends 'base.html.twig' %}

{% block title %}New UsersSongs{% endblock %}

{% block body %}
    <h1>Create new UsersSongs</h1>

    {{ include('users_songs/_form.html.twig') }}

    <a href="{{ path('users_songs_index') }}">back to list</a>
{% endblock %}
