{% extends 'base.html.twig' %}

{% block title %}New UsersSongs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter une musique</h1>

        {{ include('users_songs/_form.html.twig') }}

        <a href="{{ path('users_songs_index') }}">retour à la liste</a>
    </div>

{% endblock %}
