{% extends 'base.html.twig' %}

{% block title %}Ajout de musique{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns paddingtop1">
            <div class="column is-three-fifths-desktop is-four-fifths is-offset-one-fifth-desktop is-offset-1">
                <h1>Ajouter une musique</h1>

                {{ include('users_songs/_form.html.twig') }}

                <a href="{{ path('users_songs_index') }}">retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
