body {
    background-color: #ABA3A0;
}


/*   CARD   */
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    cursor: pointer;
}


.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
            var(--rotate)
            , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
            var(--rotate)
            , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

/* END CARD */
li {
    font-size: 1.5em;
    width: -moz-fit-content;
    width: fit-content;
}

.playing {
    color: green;
}

#playbutton {
    width: 100px;
    height: 100px;
}

#pausebutton {
    height: 90px;
    width: 90px;
}

.backward, .play, .forward, .pause, .repeat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.repeat {
    margin-top: 20px;
}

.backward, .forward {
    padding-top: 20px;
}

#volumecontrol {
    display: none;
}

#backwardbutton, #forwardbutton, #repeatbutton {
    height: 60px;
    width: 60px;
}

#pausebutton {
    display: none;
}

#timeline {
	width: 100%;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
    position: relative;
}

#playhead {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
    position: absolute;
    left: 0px;
}

audio {
    display: none;
}

#playingnow {
    margin-top: 20px;
}

#controlsApp {
    background: #ABA3A0;
    border-top: solid 2px black;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 211px;
}

.column {
    padding: 0;
}

#controls {
    padding-top: 20px;
}

#volumecontrol {
    padding: .75rem;
}

.box {
    width: 596px;
    height: 75px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    border-radius: 10px;
}

#conteneur {
    display: flex;
    border: solid 2px black;
    margin: 0 auto;
    justify-content: center;
}

#conteneurGauche {
    border: solid 2px black;
    width: 515px;
    height: 728px;
    margin-right: 50px;
}

#conteneurDroite {
    width: 515px;
    margin-left: 50px;
}

#conteneurGauche, #conteneurDroite {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.un {
    width:330px;
    height: 580px;
    padding: 20px;
    background-color: tomato;
}

.un img {
    max-width: -webkit-fill-available;
}

.deux {
    background-color:blue;
    width: 186px;
    height: 390px;
    padding: 20px;
}

.deux p {
    color: white;
    font-size: 1rem;
    font-family: Roboto;
}

.trois {
    background-color: green;
    width: 560px;
    height: 182px;
    padding: 20px;
}
.trois p {
    color: white;
    font-size: 3rem;
    font-family: Roboto;
}
.quatre {
    width:258px;
    height: 390px;
    padding: 20px;
    background-color: tomato;
}
.quatre p {
    color: white;
    font-size: 3rem;
    font-family: Roboto;
    letter-spacing: 5px;
}
.cinq {
    width: 258px;
    height: 390px;
    padding: 20px;
    background-color: green;
}
.cinq p {
    color: white;
    font-size: 1rem;
    font-family: Roboto;
    letter-spacing: 5px;
}
.six {
    width: 560px;
    height: 390px;
    padding: 20px;
    background-color: blue;
}
.six img {
    max-width: -webkit-fill-available;
}
.sept {
    width: 186px;
    height: 390px;
    padding: 20px;
    background-color: yellow;
}
.sept p {
    color: white;
    font-size: 1rem;
    font-family: Roboto;
    letter-spacing: 5px;
}
.huit {
    width:330px;
    height: 580px;
    padding: 20px;
    background-color: tomato;
}
.huit img {
    max-width: -webkit-fill-available;
}
.neuf {
    background-color: green;
    width: 560px;
    height: 182px;
    padding: 20px;
}
.neuf p {
    color: white;
    font-size: 3rem;
    font-family: Roboto;
    letter-spacing: 5px;
}
#initParagraphe {
    margin: 10px; 
    padding: 10px; 
    background-color:lightgray; 
    border-radius: 10px;
    box-shadow: 3px 2px 1px darkgray;
}